<!doctype html>
<html data-ng-app="GoClimb">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Admin</title>

	<link rel="stylesheet" href="{$basePath}/assets/admin.css">
</head>
<body data-zf-close-all>

<div class="vertical grid-frame">
	<div data-top-panel></div>
	<div class="grid-block">
		<div data-admin-menu></div>
		<div class="grid-block vertical">
			<div data-admin-menu-button></div>
		</div>
	</div>
</div>

<script src="{$basePath}/assets/admin.js"></script>
</body>
</html>
