<!doctype html>
<html data-ng-app="GoClimb">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Admin</title>

	<link rel="stylesheet" href="{$basePath}/assets/admin.css">
	{*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*}
</head>
<body data-zf-close-all>

<div class="vertical grid-frame">
	<div data-top-panel></div>
	<div class="grid-block">
		<div data-admin-menu></div>
		<div class="grid-block vertical">
			<div data-admin-menu-button></div>
			{*Content*}
			<div class="grid-block"  data-ng-controller="TestController">
				<div class="grid-block vertical">
					<div class="title-bar main">
						<span class="title left">Settings</span>
					</div>
					<div class="section">
						<div class="grid-container contain-left">
							<h2 class="section-title grid-content">Selection</h2>

							<div class="small-12 grid-content ">
								<div ng-repeat="(listName, list) in models.lists" class="drag-n-drop">
									<div>
										<h3 class="section-title">List {{ listName}}</h3>

										<ul dnd-list="list" class="inline-list">
											<li ng-repeat="item in list"
											    dnd-draggable="item"
											    dnd-moved="list.splice($index, 1)"
											    dnd-effect-allowed="move"
											    dnd-selected="models.selected = item"
											    ng-class="{'selected': models.selected === item}"
											    class="button"
											>
												{{ item.label}}
											</li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{*End of Content*}
			</div>
		</div>
	</div>

	<script src="{$basePath}/assets/admin.js"></script>
</body>
</html>
