<!doctype html>
<html data-ng-app="GoClimb">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Admin</title>

	<link rel="stylesheet" href="{$basePath}/assets/admin.css">
</head>
<body data-zf-close-all>

<div class="vertical grid-frame">
	<div data-top-panel></div>
	<div class="grid-block">
		<div data-admin-menu></div>
		<div class="grid-block vertical">
			<div data-admin-menu-button></div>
			{*Content*}
			<div class="grid-block" data-ng-controller="TestController">
				<div class="grid-block vertical">
					<div class="title-bar main">
						<span class="title left">Settings</span>
					</div>
					<div class="section">
						<div class="grid-container contain-left">
							{*<h2 class="section-title grid-content">Selection</h2>*}
							<p class="subheader ">Customise your menu by draging 'n' droping items from page box to menu
								box</p>


							<div ng-repeat="(listName, list) in models.lists" class="drag-n-drop">
								<div>
									<h6 class="">{{ listName}}</h6>

									<ul dnd-list="list"
									    dnd-horizontal-list="true">
										<li ng-repeat="item in list"
										    dnd-draggable="item"
										    dnd-moved="list.splice($index, 1)"
										    dnd-effect-allowed="move"
										    dnd-selected="models.selected = item"
										    ng-class="{'selected': models.selected === item}"
										    class="button">
											{{ item.label}}
										</li>
									</ul>

								</div>
							</div>

							<a class="button"><span class="fa fa-save"></span> Save</a>
						</div>
					</div>
				</div>
				{*End of Content*}
			</div>
		</div>
	</div>

	<script src="{$basePath}/assets/admin.js"></script>
</body>
</html>
