<div data-zf-notification-set id="flashMessages" data-position="bottom-left"></div>
<div class="container">
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">
		<ul class="nav nav-tabs" role="tablist">
			<li style="position: absolute; left: 0;">
				<a href="javascript: window.history.back();" class="btn btn-success"><span class="fa fa-chevron-left"></span> {{'templates.routes.back'|translate}}</a>
			</li>
			<li role="presentation" class="active">
				<a href="javascript: void(0);" data-target="#rope" role="tab" data-toggle="tab"> {{'templates.routes.rope'|translate}}</a>
			</li>
			<li role="presentation">
				<a href="javascript: void(0);" data-target="#boulder" role="tab" data-toggle="tab"> {{'templates.routes.boulder'|translate}}</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active datagrid table-responsive" id="rope">
				<table data-st-table="ropes" data-st-safe-src="routesCtrl.getRopes().getAsArray()" class="table">
					<thead>
						<tr>
							<th data-st-sort="name" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.name'|translate}}
							</th>
							<th data-st-sort="ratingRope" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.ratingRope'|translate}}
							</th>
							<th data-st-sort="sector" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.sector'|translate}}
							</th>
							<th data-st-sort="line" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.line'|translate}}
							</th>
							<th data-st-sort="length" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.length'|translate}}
							</th>
							<th data-st-sort="steps" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.steps'|translate}}
							</th>
							<th>
								{{'grids.routes.parameters'|translate}}
							</th>
							<th>
								{{'grids.routes.detail'|translate}}
							</th>
							<th data-ng-show="routesCtrl.user">
								{{'grids.routes.log'|translate}}
							</th>
						</tr>
					</thead>
					<tbody data-ng-hide="routesCtrl.getRopes()">
						<tr>
							<td colspan="10" class="text-center" ng-include="'app/client/Core/ts/templates/components/loading.html'"></td>
						</tr>
					</tbody>
					<tbody data-ng-show="routesCtrl.getRopes()">
						<tr data-ng-repeat="rope in ropes">
							<td>{{rope.name}}</td>
							<td>{{rope.difficulty.UIAA}} / {{rope.difficulty.FRL}}</td>
							<td>{{rope.sector.name}}</td>
							<td>{{rope.line.name}}</td>
							<td>{{rope.length}}m</td>
							<td>{{rope.steps}}</td>
							<td>
								<span data-ng-repeat="parameter in rope.parameters">
									<img data-cdn-image="static/parameters-icons/{{parameter.parameter}}-{{parameter.level}}.png" alt="{{'enums.parameters.' + parameter.parameter|translate}}: {{parameter.level}}" class="gc-parameter-icon">
								</span>
								<span data-ng-hide="rope.parameters.length">-</span>
							</td>
							<td>
								<a class="gc-button" data-ui-sref="routes.detail({id: rope.id, type: 'rope'})">
									<span class="fa fa-search"></span> {{'templates.routes.detail.detail'|translate}}
								</a>
							</td>
							<td data-ng-show="routesCtrl.user">
								<a class="gc-button" data-ui-sref="routes.create({id: rope.id, type: 'rope'})">
									<span class="fa fa-plus"></span> {{'templates.routes.createLog'|translate}}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane fade datagrid table-responsive" id="boulder">
				<table data-st-table="boulders" data-st-safe-src="routesCtrl.getBoulders().getAsArray()" class="table">
					<thead>
						<tr>
							<th data-st-sort="name" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.name'|translate}}
							</th>
							<th data-st-sort="ratingBoulder" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.ratingBoulder'|translate}}
							</th>
							<th data-st-sort="sector" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.sector'|translate}}
							</th>
							<th data-st-sort="line" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.line'|translate}}
							</th>
							<th data-st-sort="start" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.start'|translate}}
							</th>
							<th data-st-sort="end" data-st-skip-natural="true" class="clickable">
								{{'grids.routes.end'|translate}}
							</th>
							<th>
								{{'grids.routes.detail'|translate}}
							</th>
							<th data-ng-show="routesCtrl.user">
								{{'grids.routes.log'|translate}}
							</th>
						</tr>
					</thead>
					<tbody data-ng-hide="routesCtrl.getBoulders()">
						<tr>
							<td colspan="10" class="text-center" ng-include="'app/client/Core/ts/templates/components/loading.html'"></td>
						</tr>
					</tbody>
					<tbody data-ng-show="routesCtrl.getBoulders()">
						<tr data-ng-repeat="boulder in boulders">
							<td>{{boulder.name}}</td>
							<td>{{boulder.difficulty.HUECO}} / {{boulder.difficulty.FRB}}</td>
							<td>{{boulder.sector.name}}</td>
							<td>{{boulder.line.name}}</td>
							<td>{{boulder.start}}</td>
							<td>{{boulder.end}}</td>
							<td>
								<a class="gc-button" data-ui-sref="routes.detail({id: boulder.id, type: 'boulder'})">
									<span class="fa fa-search"></span> {{'templates.routes.detail.detail'|translate}}
								</a>
							</td>
							<td data-ng-show="routesCtrl.user">
								<a class="gc-button" data-ui-sref="routes.create({id: boulder.id, type: 'boulder'})">
									<span class="fa fa-plus"></span>
									{{'templates.routes.createLog'|translate}}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div data-ui-view class="gc-panel-view"></div>
</div>
