<div class="grid-block v-align">
	<div class="grid-block vertical">
		<div class="grid-content small-12 align-center">
			<h1>{{'templates.404.notFound'|translate}}</h1>
		</div>
		<div class="grid-content small-12 align-center">
			<a class="button primary" data-ui-sref="dashboard">
				<span class="fa fa-dashboard"></span> {{'templates.404.dashboard'|translate}}
			</a>
			<a class="button secondary" href="javascript: history.go(-1);" >
				<span class="fa fa-arrow-left"></span> {{'templates.404.back'|translate}}
			</a>
		</div>
	</div>
</div>
