<!--Title bar-->
<div class="grid-block vertical gc-main-view">
	<div data-admin-menu-button></div>
	<div class="gc-title-bar gc-with-menu">
		<h1 class="gc-title">{{'templates.articles.title'|translate}}</h1>
		<div class="gc-menu">
			<button type="button" class="gc-item" data-ui-sref="articles.create">
				<span class="fa fa-pencil-square-o gc-icon"></span> {{'templates.articles.add'|translate}}
			</button>
		</div>
	</div>
	<!--End of Title bar-->

	<!--Section with content-->
	<div class="grid-container contain-left">
		<h2 class="notitle grid-content"></h2>
		<div class="grid-content" data-ng-hide="articlesCtrl.getArticles()">
			<div ng-include="'app/client/Admin/ts/templates/Includes/loading.html'"></div>
		</div>
		<div class="grid-content" data-ng-show="articlesCtrl.getArticles()">
			<table data-st-table="articles" data-st-safe-src="articlesCtrl.getArticles().getAsArray()" class="table">
				<thead>
					<tr>
						<th data-st-sort="name" data-st-skip-natural="true" class="clickable">
							{{'grids.articles.title'|translate}}
						</th>
						<th data-st-sort="author" data-st-skip-natural="true" class="clickable">
							{{'grids.articles.author'|translate}}
						</th>
						<th data-st-sort="publishedDate" data-st-sort-default="reverse" data-st-skip-natural="true" class="clickable">
							{{'grids.articles.publishedDate'|translate}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="article in articles">
						<td>{{article.name|limitTo:40}}{{article.name.length > 40 ? '...' : ''}}</td>
						<td>{{article.author.name}}</td>
						<td data-ng-show="article.published">{{article.publishedDate|date: 'yyyy MM. dd.'}}</td>
						<!-- High number is hack to sort unpublished articles as first. This won't work after year 99999 -->
						<td data-ng-hide="article.published"><span class="hide-for-small">99999</span>
							{{'grids.articles.unpublished'|translate}}
						</td>
						<td>
							<button class="button hollow warning" type="button" data-ui-sref="articles.edit({id: article.id})">
								<span class="fa fa-pencil"></span> {{'grids.articles.edit'|translate}}
							</button>
							<button class="button hollow alert" data-ng-class="{spinner : articlesCtrl.processingDelete === article.id}" type="button" data-ng-click="articlesCtrl.deleteArticle(article)">
								<span class="fa fa-remove"></span> {{'grids.articles.delete'|translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--End of content-->
<!--Panels-->
<div data-ui-view class="gc-panel-view"></div>
<!--End of panels-->
