{form form, class => form}
	<div n:class="input-group, $form['email']->error ? error">
		{label email, class => label /}
		{input email, class => input}
		<b n:ifcontent>{$form['email']->error}</b>
	</div>
	{input reset, class => btn}
	<div class="clearfix"></div>
{/form}
