{form form, class => form}
	<div class="checkbox-container">
		{label remember, class => label /}
		{input remember, class => checkebox}
	</div>
	<a href="#" class="btn-continue js-not-you">{_templates.auth.dashboard.default.notYou}</a>
	{input continue, class => btn}
{/form}
