/vendor
/bower_components
/node_modules

app/config/config.local.neon
app/bootstrap.local.php

www/assets/*.css
www/assets/*.js
www/assets/build/*
!www/assets/build/.gitkeep

tests/temp
tests/php-local.ini

.tscache
.sass-cache

.idea
nbproject
.DS_Store
