parameters:

doctrine:
	user: root
	password:
	dbname: online_climbing

#settings for slack handler
monolog:
	handlers:
		- Monolog\Handler\SlackHandler('token', 'channel', 'botName', TRUE, NULL, 'DEBUG')

goClimb:
	cdnUrl: http://localhost/GoClimb/cdn/

console:
	url: http://example.com
