# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: GoClimb\Modules\*Module\*Presenter

console:
	commands:
		- GoClimb\Console\Commands\CleanCacheCommand
		- GoClimb\Console\Commands\CreateUserCommand

doctrine:
	user: root
	password:
	metadata:
		GoClimb\Model\Entities: %appDir%/server/Model/Entities

extensions:
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	console: Kdyby\Console\DI\ConsoleExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	eventDispatcher: Symnedi\EventDispatcher\DI\EventDispatcherExtension
	events: Kdyby\Events\DI\EventsExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	goClimb: GoClimb\DI\GoClimbExtension
	translation: Kdyby\Translation\DI\TranslationExtension

latte:
	macros:
		- GoClimb\UI\Macros\CdnMacro::install
		- Nextras\Latte\Macros\RedefineMacro::install

migrations:
	table: _doctrine_migrations
	directory: %appDir%/../migrations
	namespace: GoClimb\Migrations
	codingStandard: tabs

monolog:
	name: go-climb
	registerFallback: %debugMode%

session:
	expiration: 14 days


services:
	- GoClimb\Annotations\RecursiveClassParser
	- GoClimb\Annotations\RecursiveMethodParser

	# facades

	- GoClimb\Model\Facades\AclFacade
	- GoClimb\Model\Facades\AuthFacade
	- GoClimb\Model\Facades\LogsFacade
	- GoClimb\Model\Facades\UserFacade
	- GoClimb\Model\Facades\RestFacade
	- GoClimb\Model\Facades\WallFacade

	# repositories

	- GoClimb\Model\Repositories\AclPermissionRepository
	- GoClimb\Model\Repositories\AclResourceRepository
	- GoClimb\Model\Repositories\AclRoleRepository
	- GoClimb\Model\Repositories\ApplicationRepository
	- GoClimb\Model\Repositories\ArticleRepository
	- GoClimb\Model\Repositories\BoulderRepository
	- GoClimb\Model\Repositories\ColorRepository
	- GoClimb\Model\Repositories\CompanyRepository
	- GoClimb\Model\Repositories\ContentPartRepository
	- GoClimb\Model\Repositories\DifficultyRepository
	- GoClimb\Model\Repositories\EventRepository
	- GoClimb\Model\Repositories\FileRepository
	- GoClimb\Model\Repositories\ImageRepository
	- GoClimb\Model\Repositories\LanguageRepository
	- GoClimb\Model\Repositories\LineRepository
	- GoClimb\Model\Repositories\LoginTokenRepository
	- GoClimb\Model\Repositories\LogRepository
	- GoClimb\Model\Repositories\NewsRepository
	- GoClimb\Model\Repositories\PageRepository
	- GoClimb\Model\Repositories\ParameterRepository
	- GoClimb\Model\Repositories\RestTokenRepository
	- GoClimb\Model\Repositories\RopeRepository
	- GoClimb\Model\Repositories\RouteParameterRepository
	- GoClimb\Model\Repositories\RouteRepository
	- GoClimb\Model\Repositories\SectorRepository
	- GoClimb\Model\Repositories\StyleRepository
	- GoClimb\Model\Repositories\UserRepository
	- GoClimb\Model\Repositories\WallRepository

	# updaters

	- GoClimb\Model\Rest\Updaters\ArticleUpdater
	- GoClimb\Model\Rest\Updaters\BoulderUpdater
	- GoClimb\Model\Rest\Updaters\EventUpdater
	- GoClimb\Model\Rest\Updaters\LogUpdater
	- GoClimb\Model\Rest\Updaters\UserUpdater
	- GoClimb\Model\Rest\Updaters\NewsUpdater
	- GoClimb\Model\Rest\Updaters\RoleUpdater
	- GoClimb\Model\Rest\Updaters\RopeUpdater
	- GoClimb\Model\Rest\Updaters\WallUpdater

	# filters

	- GoClimb\Routing\Filters\AuthFilter
	- GoClimb\Routing\Filters\BackendFilter

	# security

	- GoClimb\Security\ApplicationPartsManager
	- GoClimb\Security\Authorizator
	security.user:
		class: GoClimb\Security\User

	# controls

	- GoClimb\UI\Controls\ICompanyEditControlFactory

	# forms

	- GoClimb\UI\Forms\Company\ICompanyFormFactory
	- GoClimb\UI\Forms\Company\ICompanyMemberFormFactory
	- GoClimb\UI\Forms\User\IContinueFormFactory
	- GoClimb\UI\Forms\User\IRegisterFormFactory
	- GoClimb\UI\Forms\User\ISignInFormFactory
	- GoClimb\UI\Forms\User\IUserFormFactory
	- GoClimb\UI\Forms\Wall\IWallFormFactory
	- GoClimb\UI\Forms\User\IConfirmPasswordResetFormFactory
	- GoClimb\UI\Forms\User\IPasswordResetFormFactory

	# grids

	- GoClimb\UI\Grids\Company\ICompanyGridFactory
	- GoClimb\UI\Grids\User\IUserGridFactory
	- GoClimb\UI\Grids\Wall\IWallGridFactory

translation:
	default: cs
	fallback: [cs, en]
	whitelist:
		- cs
		- en
	dirs:
		- %appDir%/lang/server
