parameters:

doctrine:
	user: root
	password:
	dbname: online_climbing

#settings for slack handler
monolog:
	handlers:
		- Monolog\Handler\SlackHandler('token', 'channel', 'botName', TRUE, NULL, 'DEBUG')

goClimb:
	cdnUrl: http://localhost/GoClimb/cdn/
	#routes:
		#useVirtualHosts: true
		#domains:
			#goclimb.cz/<locale>:
				#- cs
				#- en
			#goclimb.de:
				#- de

console:
	url: http://example.com
