<div class="grid-block vertical gc-main-view">
	<div class="gc-title-bar gc-with-menu">
		<h2 class="gc-title">{{'templates.ropes.title'|translate}}</h2>
		<div class="gc-menu">
			<button type="button" class="gc-item" data-ui-sref="ropes.create">
				<span class="fa fa-plus gc-icon"></span> {{'templates.ropes.add'|translate}}
			</button>
		</div>
	</div>

	<div class="grid-container contain-left">
		<h2 class="notitle grid-content"></h2>
		<div class="grid-content" data-ng-hide="ropesCtrl.getRopes()">
			<div ng-include="'app/client/Core/ts/templates/components/loading.html'"></div>
		</div>
		<div class="grid-content" data-ng-show="ropesCtrl.getRopes()">
			<table data-st-table="ropes" data-st-safe-src="ropesCtrl.getRopes().getAsArray()" class="table">
				<thead>
					<tr>
						<th data-st-sort="name" data-st-skip-natural="true" data-st-sort-default="true" class="clickable">
							{{'grids.ropes.name'|translate}}
						</th>
						<th data-st-sort="sector.name" data-st-skip-natural="true" class="clickable">
							{{'grids.ropes.sector'|translate}}
						</th>
						<th data-st-sort="line.name" data-st-skip-natural="true" class="clickable">
							{{'grids.ropes.line'|translate}}
						</th>
						<th data-st-sort="builder.name" data-st-skip-natural="true" class="clickable">
							{{'grids.ropes.builder'|translate}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="rope in ropes">
						<td>{{rope.name}}</td>
						<td>{{rope.sector.name}}</td>
						<td>{{rope.line.name}}</td>
						<td>{{rope.builder.name}}</td>
						<td>
							<button class="button hollow warning" type="button" data-ui-sref="ropes.edit({id: rope.id})">
								<span class="fa fa-pencil"></span> {{'grids.ropes.edit'|translate}}
							</button>
							<button class="button hollow alert" data-ng-class="{spinner : ropesCtrl.processingDelete === rope.id}" type="button" data-ng-click="ropesCtrl.deleteRope(rope)">
								<span class="fa fa-remove"></span> {{'grids.ropes.delete'|translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div data-ui-view class="gc-panel-view"></div>
