<div class="gc-side-panel">
	<span data-close-button></span>
	<div class="gc-title-bar gc-with-menu">
		<h2 class="gc-title">{{'templates.ropes.edit'|translate}}</h2>
		<div class="gc-menu">
			<span data-expand-button class="gc-item-container"></span>
		</div>
	</div>
	<div class="gc-content gc-flex">
		<form name="ropeForm" class="form" novalidate>
			<div class="grid-block wrap">
				<div class="notitle"></div>

				<div class="grid-content noscroll small-12">
					<label>
						{{'forms.ropes.sector'|translate}}
						<span class="inline-label">
							<select name="sector" data-ng-model="rope.sector" data-ng-options="option.name for option in sectors track by option.id" data-ng-disabled="newSector !== null || newLine !== null"></select>
							<button class="button" data-ng-click="newSector = ''"><span class="fa fa-plus"></span></button>
						</span>
					</label>

					<label data-ng-hide="newSector === null">
						<span class="inline-label">
							<input type="text" placeholder="{{'forms.ropes.newSector'|translate}}" ng-model="newSector">
							<button class="button" data-ng-click="saveSector()" data-ng-disabled="!newSector || sectorSaving" data-ng-class="{spinner: sectorSaving}">
								<span class="fa fa-check"></span>
							</button>
							<button class="button dark" data-ng-click="newSector = null" data-ng-disabled="sectorSaving">
								<span class="fa fa-times"></span>
							</button>
						</span>
					</label>
				</div>

				<div class="grid-content noscroll small-12" data-ng-show="isSectorOk()">
					<label>
						{{'forms.ropes.line'|translate}}
						<span class="inline-label">
							<select name="sector" data-ng-model="rope.line" data-ng-options="option.name for option in rope.sector.lines track by option.id" data-ng-disabled="newSector !== null || newLine !== null"></select>
							<button class="button" data-ng-click="newLine = ''"><span class="fa fa-plus"></span></button>
						</span>
					</label>

					<label data-ng-hide="newLine === null">
						<span class="inline-label">
							<input type="text" placeholder="{{'forms.ropes.newLine'|translate}}" ng-model="newLine">
							<button class="button" data-ng-click="saveLine()" data-ng-disabled="!newLine || lineSaving" data-ng-class="{spinner: lineSaving}">
								<span class="fa fa-check"></span>
							</button>
							<button class="button dark" data-ng-click="newLine = null" data-ng-disabled="lineSaving">
								<span class="fa fa-times"></span>
							</button>
						</span>
					</label>
				</div>

				<div class="grid-content small-12 noscroll" data-ng-show="displayRest()">
					<label>
						{{'forms.ropes.name'|translate}}:
						<input type="text" data-ng-model="rope.name" required>
					</label>
					<label>
						{{'forms.ropes.description'|translate}}:
						<input type="text" data-ng-model="rope.description">
					</label>
					<label>
						{{'forms.ropes.colors'|translate}}:
						<span data-color-picker="rope.colors"></span>
					</label>

					<div data-difficulty-picker="rope.difficulty" data-type="'rope'"></div>

					<hr>
					<div class="clearfix">
						<h3 class="subheader float-left">{{'forms.ropes.parameters'|translate}}</h3>
						<div class="grid-block float-right">
							<button class="button small" data-ng-click="addParameter()"><span class="fa fa-plus"></span>
							</button>
						</div>
					</div>

					<div data-ng-repeat="(index, parameter) in rope.parameters">
						<label>
							{{'forms.ropes.parameter.name'|translate}}
							<span data-ng-show="parameter.parameter">{{'enums.parameters.' + parameter.parameter|translate}}</span>
							<span class="inline-label">
								<select data-ng-hide="parameter.parameter" data-ng-model="parameter.parameter" data-ng-change="updateParameterSelection(parameter.parameter)">
									<option data-ng-repeat="item in parameters" data-ng-value="item.name" data-ng-disabled="item.disabled">
										{{'enums.parameters.' + item.name|translate}}
									</option>
								</select>
							</span>
						</label>
						<label>
							{{'forms.ropes.parameter.level'|translate}}
							<span data-ng-show="parameter.level">{{parameter.level}}</span>
							<span class="inline-label">
								<select data-ng-hide="parameter.level" data-ng-model="parameter.level">
									<option data-ng-value="1">1</option>
									<option data-ng-value="2">2</option>
									<option data-ng-value="3">3</option>
								</select>
							</span>
						</label>
						<button class="button small js-disable-close-directive" data-ng-click="removeParameter(index)"><span class="fa fa-times"></span></button>
					</div>
					<hr>
				</div>

				<div class="grid-block noscroll" data-ng-show="displayRest()">
					<label class="grid-content medium-12">
						{{'forms.ropes.length'|translate}}:
						<input type="number" data-ng-model="rope.length">
					</label>
				</div>
				<div class="grid-block noscroll" data-ng-show="displayRest()">
					<label class="grid-content medium-12">
						{{'forms.ropes.steps'|translate}}:
						<input type="number" data-ng-model="rope.steps">
					</label>
				</div>

				<div class="grid-block noscroll" data-ng-show="displayRest()">
					<label class="grid-content medium-12">
						{{'forms.ropes.dateCreated'|translate}}:
						<input type="datetime-local" ng-model="rope.dateCreated" required>
					</label>
				</div>

				<div class="grid-block noscroll" data-ng-show="displayRest()">
					<label class="grid-content medium-12">
						{{'forms.ropes.dateRemoved'|translate}}:
						<input type="datetime-local" ng-model="rope.dateRemoved">
					</label>
				</div>

				<div class="grid-content noscroll" data-ng-show="displayRest()">
					<label>
						{{'forms.ropes.builder'|translate}}:
						<span class="inline-label">
							<select name="builder" data-ng-model="rope.builder" data-ng-options="option.name for option in builders.getAsArray() track by option.id"></select>
						</span>
					</label>
				</div>
				<div class="notitle"></div>

				<div class="grid-content small-12">
					<button data-ng-show="displayRest()" type="submit" class="button primary" data-ng-class="{spinner: saving}"
						data-ng-disabled="(ropeForm.$invalid || saving)" data-ng-click="save()">
						{{'forms.ropes.save'|translate}}
					</button>

					<button type="button" data-ui-sref="ropes" class="button secondary">
						{{'templates.ropes.close'|translate}}
					</button>
				</div>
			</div>
		</form>

	</div>
</div>
