<div id="newsPanel" class="side-panel vertical">
	<button type="button" data-ui-sref="news" class="remove-button-styles close-button ng-scope js-close-panel">×</button>
	<div class="title-bar main">
		<h2 class="title left">{{'templates.news.create'|translate}}</h2>
		<span class="menu">
			<span data-expand-button></span>
		</span>
	</div>
	<div class="grid-container contain-left wrap">
		<form name="newsForm" class="form" novalidate>
			<div class="grid-block wrap">
				<div class="notitle"></div>
				<div class="grid-content small-12 noscroll">
					<label>
						{{'forms.news.title'|translate}}:
						<input name="name" type="text" ng-model="news.name" required>
					</label>
					<div class="notitle"></div>
				</div>

				<div class="grid-content small-12">
					<button type="submit" class="button default"
						data-ng-hide="news.published"
						data-ng-class="{spinner : processingSave}"
						data-ng-disabled="(newsForm.$invalid || isProcessing())"
						data-ng-click="save()">
						{{'forms.news.saveAndPublish'|translate}}
					</button>

					<button type="button" data-ui-sref="news" class="button secondary">{{'templates.news.close'|translate}}</button>
				</div>
			</div>
		</form>

	</div>
</div>
