<h3>Nová zpráva z kontaktního formuláře</h3>

<ul>
	<li><strong>Jméno</strong> {$name}</li>
	<li><strong>E-mail</strong> <a href="mailto:{$email}">{$email}</a></li>
</ul>

<h1>Text zprávy</h1>

{$text}
