<!--Title bar-->
<div class="grid-block vertical main-view">
	<div data-admin-menu-button></div>
	<div class="title-bar main">
		<h1 class="title">{{'templates.events.title'|translate}}</h1>
		<span class="menu">
			<button type="button" class="remove-button-styles" data-ui-sref="events.create">
				<span class="fa fa-pencil-square-o"></span> {{'templates.events.add'|translate}}
			</button>
		</span>
	</div>
	<!--End of Title bar-->
	<!--Section with content-->
	<div class="grid-container contain-left">
		<h2 class="content-title grid-content"></h2>
		<div class="grid-content" data-ng-hide="eventsCtrl.getEvents()">
			<div ng-include="'app/client/Admin/ts/templates/Includes/loading.html'"></div>
		</div>
		<div class="grid-content" data-ng-show="eventsCtrl.getEvents()">
			<table data-st-table="events" data-st-safe-src="eventsCtrl.getEvents().getAsArray()" class="table">
				<thead>
					<tr>
						<th data-panel-control data-st-sort="name" data-st-skip-natural="true" class="clickable">
							{{'grids.events.title'|translate}}
						</th>
						<th data-panel-control data-st-sort="startDate" data-st-skip-natural="true" class="clickable">
							{{'grids.events.startDate'|translate}}
						</th>
						<th data-panel-control data-st-sort="publishedDate" data-st-sort-default="reverse" data-st-skip-natural="true" class="clickable">
							{{'grids.events.publishedDate'|translate}}
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="event in events">
						<td>{{event.name|limitTo:40}}{{event.name.length > 40 ? '...' : ''}}</td>
						<td>{{event.startDate|date: 'yyyy. MM. dd.'}}</td>
						<td data-ng-show="event.published">{{event.publishedDate|date: 'yyyy. MM. dd.'}}</td>
						<!-- High number is hack to sort unpublished articles as first. This won't work after year 99999 -->
						<td data-ng-hide="event.published"><span class="hide-for-small">99999</span>
							{{'grids.events.unpublished'|translate}}
						</td>
						<td>
							<button class="button hollow warning" type="button" data-ui-sref="events.edit({id: event.id})">
								<span class="fa fa-pencil"></span> {{'grids.events.edit'|translate}}
							</button>
							<button class="button hollow alert" data-ng-class="{spinner : eventsCtrl.processingDelete === event.id}" type="button" data-ng-click="eventsCtrl.deleteEvent(event)">
								<span class="fa fa-remove"></span> {{'grids.events.delete'|translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--End of content-->
<!--Panels-->
<div data-ui-view class="panel-view"></div>
<!--End of panels-->
