<div id="eventPanel" class="side-panel vertical">
	<button type="button" data-ui-sref="events" class="remove-button-styles close-button ng-scope js-close-panel">×</button>
	<div class="title-bar main">
		<h2 class="title left">{{'templates.events.edit'|translate}}</h2>
		<span class="menu">
			<span data-expand-button></span>
		</span>
	</div>
	<div class="grid-container contain-left wrap">
		<form name="eventForm" class="form" novalidate>
			<div class="grid-block wrap">
				<div class="notitle"></div>
				<div class="grid-content small-12 noscroll">
					<label>
						{{'forms.events.title'|translate}}:
						<input name="title" type="text" ng-model="event.name" required>
					</label>
					<label>
						{{'forms.events.content'|translate}}:
						<textarea name="content" rows="10" ng-model="event.content" required></textarea>
					</label>
				</div>

				<div class="grid-block noscroll">
					<label class="grid-content medium-12">
						{{'forms.events.startDate'|translate}}:
						<input name="startDate" type="datetime-local" ng-model="event.startDate" required>
					</label>
				</div>

				<div class="grid-block noscroll">
					<label class="grid-content medium-12">
						{{'forms.events.endDate'|translate}}:
						<input name="endDate" type="datetime-local" ng-model="event.endDate">
					</label>
				</div>

				<div class="grid-content small-12">
					<p class="small-12">
						{{'forms.events.author'|translate}} : {{event.author.name}}
					</p>
					<div class="notitle"></div>
					<button type="submit" class="button default"
					        data-ng-hide="event.published"
					        data-ng-class="{spinner : processingSave}"
					        data-ng-disabled="(eventForm.$invalid || isProcessing())"
					        data-ng-click="save(true)">
						{{'forms.events.saveAndPublish'|translate}}
					</button>

					<button type="submit" class="button secondary"
					        data-ng-hide="event.published"
					        data-ng-class="{spinner : processingSaveAsDraft}"
					        data-ng-disabled="(eventForm.$invalid || isProcessing())"
					        data-ng-click="save()">
						{{'forms.events.saveAsDraft'|translate}}
					</button>

					<button type="submit" class="button primary"
					        data-ng-show="event.published"
					        data-ng-class="{spinner : processingSave}"
					        data-ng-disabled="(eventForm.$invalid || isProcessing())"
					        data-ng-click="save(true)">
						{{'forms.events.save'|translate}}
					</button>


					<button type="button" data-ui-sref="events" class="button secondary">{{'templates.events.close'|translate}}</button>
				</div>
			</div>
		</form>
	</div>
</div>
