.#{$class-prefix}-form {
	margin-top: 1em;
	font-size: $form-font-size;

	label {
		display: block;
		margin-bottom: 0.5em;
		font-weight: normal;

		small {
			color: $global-theme-light-font-color;
			display: block;
			font-size: 98%;
		}
	}

	input, select, textarea {
		display: block;
	}

	input[type="date"], input[type="text"], input[type="number"], select, textarea {
		appearance: none;
		width: 100%;
		max-width: 100%;
		padding: 0.5em;
		margin: 0.5em 0 1em 0;
		border: 1px solid $global-theme-disable;
		border-radius: 0;
		background: $global-theme-background;
		color: $global-font-color;

		-webkit-font-smoothing: antialiased;
		vertical-align: middle;

		&:focus {
			border-color: $global-theme-accent-color;
			outline: none;
		}
	}

	select {
		background: $global-theme-background url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E") right 10px center no-repeat;
		background-size: 8px 8px;
		padding-right: 1.6em;
	}

	input[type="range"] {
		$margin: ($slider-thumb-height - $slider-height) / 2;

		appearance: none;
		display: block;
		width: 100%;
		height: auto;
		cursor: pointer;
		margin-top: $margin;
		margin-bottom: $margin;
		border: 0;
		line-height: 1;
		border-radius: $slider-radius;

		&:focus {
			outline: 0;
		}

		// Chrome/Safari
		&::-webkit-slider-runnable-track {
			height: $slider-height;
			background: $slider-background;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: $slider-thumb-color;
			width: $slider-thumb-height;
			height: $slider-thumb-height;
			margin-top: -$margin;
			border-radius: $slider-thumb-radius;
		}

		// Firefox
		&::-moz-range-track {
			-moz-appearance: none;
			height: $slider-height;
			background: #ccc;
		}
		&::-moz-range-thumb {
			-moz-appearance: none;
			background: $slider-thumb-color;
			width: $slider-thumb-height;
			height: $slider-thumb-height;
			margin-top: -$margin;
			border-radius: $slider-thumb-radius;
		}

		// Internet Explorer
		&::-ms-track {
			height: $slider-height;
			background: $slider-background;
			color: transparent;
			border: 0;
			overflow: visible;
			border-top: $margin solid $global-theme-background;
			border-bottom: $margin solid $global-theme-background;
		}
		&::-ms-thumb {
			background: $slider-thumb-color;
			width: $slider-thumb-height;
			height: $slider-thumb-height;
			border: 0;
			border-radius: $slider-thumb-radius;
		}
		&::-ms-fill-lower, &::-ms-fill-upper {
			background: $slider-background;
		}
	}

	&.ng-dirty .ng-invalid {
		border-color: $invalid-color !important;
	}
}
