.bounce-box {
	text-align: center;
}

.bounce-box > div {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background: #616161;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
	animation: bouncedelay 1.4s infinite ease-in-out both;
}

.bounce-box .one {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s
}

.bounce-box .two {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0)
	}

	40% {
		-webkit-transform: scale(1)
	}
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	40% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
