.carousel-control {
	.fa {
		font-size: 30px;
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
		margin-top: -10px;
	}

	&.left .fa {
		left: 50px;
	}

	&.right .fa {
		right: 50px;
	}
}
