.gc-navbar {
	padding: 16px;
	background: white;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #CDCDCD;

	.gc-navbar-btn {
		border-radius: 0 !important;
		background: $global-theme-accent-color;
		color: $global-theme-accent-font-color !important;

		text-decoration: none;
		font-size: 0.9rem;
		border: none;
		padding: 0.5rem 1rem !important;
		margin: 0.45rem;
		cursor: pointer;

		transition: background 0.25s ease-out;

		&:hover {
			background: lighten($global-theme-accent-color, 6) !important;
		}
	}
}

.navbar-brand-centered {
	position: absolute;
	left: 50%;
	display: block;
	width: 160px;
	text-align: center;
	background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
	margin-left: -80px;
}
