base:
	paginator:
		first: First
		previous: Previous
		next: Next
		last: Last

user:
	fields:
		id: ID
		nick: Nick
		firstName: First name
		lastName: Last name
		email: Email
	filter:
		nick: Nick
		firstName: First name
		lastName: Last name
		email: Email
		apply: Search
		cancel: Cancel

company:
	fields:
		name: Name
	filter:
		name: Name
		apply: Search
		cancel: Cancel

wall:
	fields:
		id: ID
		name: Name
		lang: Languages
	filter:
		name: Name
		apply: Search
		cancel: Cancel
	adminLink: administration
	webLink: web

app:
	dashboard:
		fields:
			name: Name
			difficulty: Difficulty
			logged: Log date
			style: Style
			points: Points
			description: Description
			length: Length
			steps: Steps
			parameters: Params
		empty: It appears that you do not have any logs now. Go to wall site and add some!
