company:
	created: Company has been created
	renamed: Comapny name has been changed
user:
	added: User has been added
	removed: User %email% has been removed
	login:
		success: Login successful
		error: Login failed
	logout:
		success: Logout successful
	register:
		success: Register successful.
wall:
	created: Wall has been created

contact:
	sent: Message has been send.
	error: 'Message could nit be sent, please try it again later'
