<link color="#0084ff" n:cdnHref="static/favicon.svg" rel="mask-icon">
<link rel="shortcut icon" sizes="32x32" n:cdnHref="static/favicon-32.png">
<link rel="shortcut icon" sizes="96x96" n:cdnHref="static/favicon-96.png">

<link rel="apple-touch-icon" n:cdnHref="static/apple-favicon-120.png">
