.admin-menu-container {
		background: $admin-menu-background
}

.admin-menu {
	@include breakpoint(large) {
		max-width: $admin-menu-width !important;
	}

	z-index: $admin-menu-z-index;
	background: $admin-menu-background;

	.menu-bar {
		background: $admin-menu-background;
		text-align: center;

		li a {
			@include breakpoint(large) {
				width: $admin-menu-width !important;
			}
			//display: block;
			color: $admin-menu-text;

			&:hover {
				background: $admin-menu-hover-background;
			}

			span{
				margin-left: 20px;
			}
		}
	}
}

.admin-menu-btn {
	margin: 1rem auto;
}
