.admin-menu-container {
	background: $admin-menu-background
}

.admin-menu {
	@include breakpoint(medium) {
		max-width: $admin-menu-width !important;
	}

	background: $admin-menu-background;

	.admin-menu {
		background: $admin-menu-background;
		text-align: center;

		li a {
			@include breakpoint(large) {
				width: $admin-menu-width !important;
			}

			font-size: $admin-menu-text-size;
			color: $admin-menu-text;

			&:hover {
				background: $admin-menu-hover-background;
			}

			span:not(.fa) {
				margin-left: 20px;
			}
		}
	}
}

.admin-menu-btn {
	margin: 1rem auto;
}
