.side-panel {
	//Expand is default width
	width: $side-panel-width-expand;
	max-width: 90%;
	transition: width .3s;

	top: 0;
	right: 0;
	height: 100%;
	display: block;
	overflow-y: auto;
	position: absolute;
	z-index: $side-panel-z-index;
	background: #FFFFFF !important;
	box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
	animation-fill-mode: forwards;

	.title-bar {
		padding-left: $side-panel-title-padding;
		padding-right: $side-panel-title-padding;
	}

	.grid-container {
		padding-left: $side-panel-content-padding;
		padding-right: $side-panel-content-padding;
	}
}

.main-view, .main-view .title-bar, .main-view .grid-container {
	transition: margin 0.3s, padding 0.3s;
}

.panel-is-compressed.panel-is-active {
	@include breakpoint(large) {

		.main-view{
			padding-right: $side-panel-width-compress;
		}

		//In progress
		//.main-view .title-bar {
		//	padding-right: $side-panel-width-compress;
		//}
		//
		//.main-view .grid-container {
		//	margin-right: $side-panel-width-compress !important;
		//}

		.side-panel {
			width: $side-panel-width-compress;
		}
	}
}

.panel-view {
	z-index: 102;

	&.ng-enter, &.ng-leave {
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		display: block;
		transition: all 0.5s ease-in-out;
	}

	&.ng-enter {
		transform: translateX(100%);
	}

	&.ng-enter-active {
		transform: translateX(0);
	}

	&.ng-leave {
		transform: translateX(0);
	}

	&.ng-leave-active {
		transform: translateX(100%);
	}
}
