.spinner {
	opacity: 1;
	position: relative;
	cursor: not-allowed;
	&:before {
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		animation: animation-enter 0.3s;
		animation-fill-mode: forwards;
	}

	&:after {
		content: "\f1ce";
		font-family: 'FontAwesome';
		color: #FFFFFF;
		position: absolute;
		left: calc(50% - 0.45rem);
		top: calc(50% - 0.45rem);
		display: inline-block;
		animation: fa-spin 2s infinite linear;
	}
}

.table .spinner {

	&:before {
		border-radius: 2em;
		animation: animation-enter-table 0.3s;
		animation-fill-mode: forwards;
	}

	&:after {
		color: #000000;
	}
}

@keyframes animation-enter {
	from {
		background: transparent;
		color: transparent;
	}
	to {
		background: $global-theme-accent-color;
		color: inherit;
	}
}

@keyframes animation-enter-table {
	from {
		background: transparent;
		color: transparent;
	}
	to {
		background: darken($global-theme-divider, 40);
		color: inherit;
	}
}
