.tabs {
	border-bottom: 1px solid $tab-border-color;
	//margin-top: -1rem;
	//font-weight: 300;
	.tab-item {
		color: $tab-active;
		background: transparent;
		padding: 0.7rem 1.5rem;
		cursor: pointer;
		background-color: transparent;

		&.is-active {
			border-bottom: 2px solid $tab-active;
			color: $tab-active;
			background: transparent;
		}
	}
}

.tab-contents {
	padding: 1rem 0;
}
