.title-bar {
	h2 {
		font-size: 1rem;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.primary {
		h2 {
			color: white;
		}
	}
}

.title-bar.main {
	@include breakpoint(large) {
		padding: $title-bar-padding $title-bar-padding-side-medium;
	}

	flex-direction: column;
	align-items: flex-start;
	padding: $title-bar-padding $title-bar-padding-side;
	border: 0;
	background: $title-bar-background;
	box-shadow: $title-bar-shadow;
	z-index: $title-bar-z-index;

	.title {
		order: 1;
		line-height: 1.5;
		margin: 0;
		font-size: $title-bar-title-size;
		font-weight: $title-bar-title-weight;
		letter-spacing: $title-bar-title-letter-spacing;
		color: $title-bar-title-color;
	}

	.menu {
		order: 2;
		margin-left: -$title-bar-padding-button;
	}

	a, button {
		text-transform: uppercase;
		padding: $title-bar-padding-button;
		color: darken($title-bar-title-color, 20);
		outline: none;
		&:hover {
			color: $title-bar-title-color;
		}
	}

	.show-for-large:not(.ng-hide) {
		@include breakpoint(large) {
			display: inline !important;
		}
	}
}
