<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- The character set should be utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- Enables media queries -->
	<meta name="viewport" content="width=device-width"/>
	{include style.latte}
	<style type="text/css">
		body,
		html,
		.body {
			background: #f3f3f3 !important;
		}

		.header {
			background: #f3f3f3;
		}
	</style>
</head>

<body>
<table align="center" class="container">
	<tbody>
		<tr>
			<td>

				<table class="row header">
					<tbody>
						<tr>
							<th class="small-12 large-12 columns first last">
								<table>
									<tr>
										<th>

											<table class="spacer">
												<tbody>
													<tr>
														<td height="16px" style="font-size:16px;line-height:16px;">
															&#xA0;</td>
													</tr>
												</tbody>
											</table>

											<h4 class="text-center">GoClimb</h4>
										</th>
										<th class="expander"></th>
									</tr>
								</table>
							</th>
						</tr>
					</tbody>
				</table>
				<table class="row">
					<tbody>
						<tr>
							<th class="small-12 large-12 columns first last">
								<table>
									<tr>
										<th>
											<table class="spacer">
												<tbody>
													<tr>
														<td height="16px" style="font-size:16px;line-height:16px;">
															&#xA0;</td>
													</tr>
												</tbody>
											</table>

											<h1 class="text-center">{_emails.passwordReset.title}</h1>

											<table class="spacer">
												<tbody>
													<tr>
														<td height="16px" style="font-size:16px;line-height:16px;">
															&#xA0;</td>
													</tr>
												</tbody>
											</table>

											<p class="text-center">{_emails.passwordReset.description}</p>
											<table class="button large expand">
												<tr>
													<td>
														<table>
															<tr>
																<td>
																	<center data-parsed="">
																		<a href="{$link}" align="center" class="float-center">{_emails.passwordReset.reset}</a>
																	</center>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>

										</th>
										<th class="expander"></th>
									</tr>
								</table>
							</th>
						</tr>
					</tbody>
				</table>

				<table class="spacer">
					<tbody>
						<tr>
							<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>
