.divider {
	//@if($divider-border == false) {
	//	@include border-top-bottom($divider-border-width, solid, $divider-border-color);
	//}

	//background: $divider-default-background;
	padding: 0 1rem;

	//@if($divider-border == false) {
	//	&.border-less {
	//		border-width: 0;
	//	}
	//
	//	&.border-less-top {
	//		border-top-width: 0;
	//	}
	//
	//	&.border-less-bottom {
	//		border-bottom-width: 0;
	//	}
	//}

	.grid-block{
		border-top: $divider-border-width solid $divider-border-color;
	}

	.title {
		color: $divider-title-color;
		font-size: 1.325rem;
		padding: 0.7rem 0 0;
		margin: 0;
	}

	.right {
		flex: auto !important;
		display: flex;
		justify-content: flex-end !important;

		& ~ .right {
			flex: none !important;
		}
	}

	&.menu{
		.link{
			padding: 0.9rem 1rem;
		}

		border-bottom-width: 1px;
	}
}
