//TODO: Only header padding bottom
.divider.primary {
	background: $primary-accent-color;

	.link, .title {
		color: white !important;
	}

	.title {
		color: $divider-title-color;
		font-size: rem-calc(28);
		padding: 1rem 0 0;
		margin: 0;
		flex: none;
		font-weight: Bold;
	}

	.link {
		font-weight: Bold;
	}
}
