//TODO: Only header padding bottom
.divider.primary {
	background: $divider-primary-background;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	//TODO: Z indexes
	z-index: 99;

	.btn, .title {
		color: $divider-primary-color !important;
	}

	.title {
		font-size: 2.05rem;
		padding: 1rem 0;
		margin: 0;
		font-weight: Bold;
	}
}
