.menu-bar {
	@include breakpoint(large down) {
			flex-flow: column nowrap;
	}

	background: inherit !important;

	.menu-item {
		flex: none;
		align-items: center;
	}

	.btn{
		color: $divider-link-color;
		display: inline-block;
	}
}
