<div class="grid-block vertical">
	<div data-admin-menu-button></div>
	<div class="title-bar main">
		<h1 class="title">{{'templates.settings.title'|translate}}</h1>
		<span class="menu">
			<button type="button" class="remove-button-styles" data-ui-sref="settings.advancedSettings">
				<!--<span class="fa fa-pencil-square-o"></span> Random text-->
			</button>
		</span>
	</div>
	<!--End of Title bar-->

	<!--Section with content-->
	<div class="grid-container contain-left">
		<div class="grid-content">
			<h2 class="content-title"></h2>
			<a class="button primary" data-ui-sref="settings.advancedSettings"><span class="fa fa-cog"></span> {{'templates.settings.general'|translate}}</a>
		</div>
	</div>
</div>

<!--Panels-->
<div data-ui-view class="panel-view"></div>
<!--End of panels-->
