user:
	signIn:
		fields:
			name: Name
			password: Password
			remember: Remember me
			submit: Sign in
		errors:
			name:
				required: Please enter name.
				notFound: User with this name not found.
			password:
				required: Please enter password.
				invalid: Invalid password.

company:
	companyForm:
		fields:
			name: Name
			add: Create
			edit: Save
	memberForm:
		fields:
			member: Member
			submit: Add member
