core:
	websiteName: GoClimb

auth:
	layout:
		title: Auth
	dashboard:
		default:
			back: Back to website
			oneAccount: All walls. One account.
			title: 'Sign in to %appName% using GoClimb.'
			welcome: Welcome back!
			loggedIn: "You are currently logged in as:"
			register: Create new account
			notYou: Not You?

backend:
	layout:
		title: Administration
		toggleNav: Toggle navigation
		brand: Administration
		close: Close
		topMenu:
			dashboard: Dashboard
			users: Users
			company: Company
			login: Login
			logout: Logout
	dashboard:
		default:
			title: Dashboard

public:
	layout:
		title: Project Name
		toggleNav: Toggle navigation
	dashboard:
		default:
			wallsList: Walls
			webLink: web
			adminLink: administration
