core:
	websiteName: GoClimb

auth:
	layout:
		title: Auth
	dashboard:
		default:
			title: Sign in

backend:
	layout:
		title: Administration
		toggleNav: Toggle navigation
		brand: Administration
		close: Close
		topMenu:
			dashboard: Dashboard
			users: Users
			company: Company
	dashboard:
		default:
			title: Dashboard

public:
	layout:
		title: Project Name
		toggleNav: Toggle navigation
