//Global
$theme-color: #2E79F4;
$global-font-color: #222; // Same as in foundation

//Top bar
$top-panel-backgound: #000000;
$top-panel-hover-backgound: transparentize(invert(#000000), 0.86);

//Admin Menu
$admin-menu-width: 175px;
$admin-menu-background: #1A1A1A;
$admin-menu-text: #FFFFFF;
$admin-menu-text-size: 18px;
$admin-menu-hover-background: transparentize(invert(#1A1A1A), 0.86);

//Title bar
$title-bar-padding: 1rem;//1.5rem;
$title-bar-padding-side: 1.3rem;
$title-bar-padding-side-medium: 3.5rem;
$title-bar-title-weight: Bold;
$title-bar-background: $theme-color;
$title-bar-title-color: #FFFFFF;
$title-bar-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

//Section
$grid-content-dark: #FAFAFA;

//Section title
$content-title-bottom-space: 1rem;

//Tabs
$tab-border-color: #D1D1D1;
$tab-active: $theme-color;

//Tables
$table-border-color: 1px solid #D4D4D4;
$table-button-size: 30px;
$table-button-background: #D4D4D4;
$table-icon-color: $global-font-color;

.helper-bottom-space {
	padding-bottom: 1rem;
}

.grid-container{
	max-width: 96rem !important;
}

.hollow{
	border: 0 !important;
}
