.content-block {
	margin-top: 25px;
	text-align: left;
	border: 1px solid #CDCDCD;
	background: white;
	padding: 15px;

	&.continue {
		text-align: center;

		.checkbox-container {
			display: block;
			padding-bottom: 10px;
		}

		.name {
			margin: 10px;
		}

		.btn {
			float: none;
		}
	}

	.clearfix {
		clear: both;
	}
}
