<div class="grid-block vertical gc-main-view">
	<div class="gc-title-bar">
		<h1 class="gc-title">{{'templates.roles.title'|translate}}</h1>
	</div>

	<div class="grid-container contain-left">
		<h2 class="notitle grid-content"></h2>
		<div class="grid-content" data-ng-hide="rolesCtrl.getRoles()">
			<div ng-include="'app/client/Core/ts/templates/components/loading.html'"></div>
		</div>


		<div class="grid-block vertical">
			<div class="grid-content" data-ng-repeat="role in rolesCtrl.getRoles().getAsObject()">
				<h1 class="title-1">{{'roles.' + role.name|translate}}</h1>
				<button class="button hollow success" type="button" data-ui-sref="roles.manageUsers({id: role.id})">
					<span class="fa fa-users"></span> {{'templates.roles.manageUsers'|translate}}
				</button>
			</div>
		</div>
	</div>
</div>

<div data-ui-view class="gc-panel-view"></div>
