<!--Title bar-->
<div class="grid-block vertical main-view">
	<div data-admin-menu-button></div>
	<div class="title-bar main">
		<h1 class="title">{{'templates.roles.title'|translate}}</h1>
	</div>
	<!--End of Title bar-->

	<!--Section with content-->
	<div class="grid-container contain-left">
		<h2 class="notitle grid-content"></h2>
		<div class="grid-content" data-ng-hide="rolesCtrl.getRoles()">
			<div ng-include="'app/client/Admin/ts/templates/Includes/loading.html'"></div>
		</div>


		<div class="grid-block small-up-3">
			<div class="grid-content" data-ng-repeat="role in rolesCtrl.getRoles().getAsObject()">
				<h1>{{'roles.' + role.name|translate}}</h1>
				<button class="button hollow warning" type="button" data-ui-sref="roles.manageUsers({id: role.id})">
					<span class="fa fa-pencil"></span> {{'templates.roles.manageUsers'|translate}}
				</button>
			</div>
		</div>
	</div>
<!--End of content-->
<!--Panels-->
<div data-ui-view class="panel-view"></div>
<!--End of panels-->
</div>
