<div class="gc-side-panel vertical gc-small">
	<span data-close-button></span>
	<div class="gc-title-bar">
		<h1 class="gc-title">{{'roles.' + role.name|translate}}</h1>
	</div>
	<div class="gc-content contain-left wrap">
		<form name="linkUpUserForm" class="form" novalidate>
			<div class="grid-block wrap">
				<div class="notitle"></div>
				<div class="grid-content small-12 noscroll">
					<label>
						{{'forms.roles.email'|translate}}:
						<input name="email" type="email" ng-model="newUser.email" required>
					</label>
					<button type="submit" class="button default"
						data-ng-class="{spinner : processingSave}"
						data-ng-disabled="(linkUpUserForm.$invalid || processingSave)"
						data-ng-click="save()">
						{{'forms.roles.add'|translate}}
					</button>
					<div class="notitle"></div>
				</div>
			</div>
		</form>
		<div class="grid-content">
			<table class="table">
				<thead data-ng-show="role.users.length">
					<tr><th>{{'grids.roles.email'|translate}}</th><th></th></tr>
				</thead>
				<tbody data-ng-repeat="user in role.users">
					<tr>
						<td>{{user.email}}</td>
						<td>
							<button class="button hollow alert" data-ng-class="{spinner: isUnlinkProcessing(user.id)}" type="button" data-ng-click="unlink(user.id)">
								<span class="fa fa-remove"></span> {{'grids.roles.delete'|translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
