<div id="rolePanel" class="side-panel vertical">
	<button type="button" data-ui-sref="roles" class="remove-button-styles close-button ng-scope js-close-panel">×</button>
	<div class="title-bar main">
		<h2 class="title left">{{'roles.' + role.name|translate}}</h2>
		<span class="menu">
			<span data-expand-button></span>
		</span>
	</div>
	<div class="grid-container contain-left wrap">
		<form name="linkUpUserForm" class="form" novalidate>
			<div class="grid-block wrap">
				<div class="notitle"></div>
				<div class="grid-content small-12 noscroll">
					<label>
						{{'forms.roles.email'|translate}}:
						<input name="email" type="email" ng-model="user.email" required>
					</label>
					<button type="submit" class="button default"
					        data-ng-class="{spinner : processingSave}"
					        data-ng-disabled="(linkUpUserForm.$invalid || processingSave)"
					        data-ng-click="save()">
						{{'forms.roles.add'|translate}}
					</button>
					<div class="notitle"></div>
				</div>
			</div>
		</form>
		<div class="grid-content">
			<table class="table">
				<thead data-ng-show="role.users.length">
					<tr><th>{{'grids.roles.nick'|translate}}</th><th>{{'grids.roles.email'|translate}}</th></tr>
				</thead>
				<tbody data-ng-repeat="user in role.users">
					<tr>
						<td>{{user.nick}}</td>
						<td>{{user.email}}</td>
						<td>
							<button class="button hollow alert" data-ng-class="{spinner: isUnlinkProcessing(user.id)}" type="button" data-ng-click="unlink(user.id)">
								<span class="fa fa-remove"></span> {{'grids.roles.delete'|translate}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
