<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
		{ifset #title}{include title|striptags} &middot; {/ifset}
		{_templates.backend.layout.title} &middot;
		{_templates.core.websiteName}
	</title>

	<link rel="stylesheet" href="{$basePath}/assets/app.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">{_templates.backend.layout.toggleNav}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href=":Backend:Dashboard:default">{_templates.backend.layout.title}</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li n:class="$presenter->isLinkCurrent(':Backend:Dashboard:default') ? active">
						<a n:href=":Backend:Dashboard:default">{_templates.backend.layout.topMenu.dashboard}</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Backend:User:*') ? active">
						<a n:href=":Backend:User:default">{_templates.backend.layout.topMenu.users}</a>
					</li>
					{*<li n:if="!$user->isLoggedIn()">
						<a n:href=":Auth:Dashboard:login, token => app, back => $this->presenter->link('tokenLogin!', ['token' => '__TOKEN__'])">Login</a>
					</li>
					<li n:if="$user->isLoggedIn()">
						<a n:href=":Auth:Dashboard:logout, back => $this->presenter->link('tokenLogin!', ['token' => '__TOKEN__'])">Logout</a>
					</li>*}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{include content}
	</div>

	<script src="{$basePath}/assets/app.js"></script>
</body>
</html>
